.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;  margin: 0px;
    width: 120px;
    height: 100%;
}


.wd-kanbas-navigation li {
    padding: 10px;     margin-bottom: 10px;
    font-size: 0.8em;  text-align: center;
}

.wd-kanbas-navigation li.wd-active {
    background-color: white;
}

.wd-kanbas-navigation li.wd-active a {
    color: #dc3545;
}


.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
    font-size: larger;
}


.wd-kanbas-navigation a i {
    color: #dc3545;
    font-size: 2em;
    margin-bottom: 5px;
}


.wd-kanbas-navigation.menu-2 {
    background-color:white;
    margin-left: 15px;
    width: auto;
}

.wd-kanbas-navigation.menu-2.wd-setting-menu li{
    margin: 15px;
}

.wd-kanbas-navigation.menu-2 li {
    text-align: left;
    margin: 0;
}

.wd-kanbas-navigation.menu-2 a {
    color: #dc3545;
    text-decoration: none;
    font-size: medium;
}

.wd-kanbas-navigation.menu-2 li.wd-active {
    border-left: 3px solid black;
}

.wd-kanbas-navigation.menu-2 li.wd-active a {
    color: black;
}

.wd-full-frame {
    width: 100%;
    height: 100%;
}

.wd-fg-red {
    color: #dc3545;
}

.wd-fg-white {
    color: white;
}

